body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:azure;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:cadetblue;
    max-height: 10%;
    min-height: 40px;
}

nav a{
    text-decoration: none;
    color:black;
}
  
nav a.selected {
    font-weight: bold;
    font-size: 1.5rem;
    color: azure;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

ul > * {
    margin: 0.25rem;
}

li > * {
    margin: 0.25rem;
}

table {
    border-collapse: collapse;
  }
  
table,
th,
td {
    border: 1.5px solid #222222;
}

th,
td {
  padding: 5px;
  text-align: center;
}

th{
    background-color: cadetblue;
}

tr:hover {
  background-color:rgb(188, 225, 227);
}

#Users {
    display: flex;
    flex-direction: column;
}

div#UserAdd{
    display: flex;
    justify-content: center;
}

#Users > *{
    margin: 1.25rem;
}

#Things {
    display: flex;
    flex-direction: column;
}

div#ThingAdd{
    display: flex;
    justify-content: center;
}

#Things > *{
    margin: 1.25rem;
}

#Home {
    display: flex;
    flex-direction: column;
}

#Home > *{
    margin: 1.25rem;
}

p{
    text-align: center;
    font-weight: bold;
}

p.thing {
    font-weight:400;
}